<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Geo Locator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>
    <div id="mapid" style="position: absolute;top: 0;bottom: 0;left: 0;right: 0;"></div>
    <script>

        let mymap = L.map('mapid').setView([0, 0], 2.5);

        loadMap();
        loadMyLocation();
        populateSavedLocationInMap();

        function loadMap() {
            const tilesurl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYWpheXRlY2h3b3Jrc2hvcCIsImEiOiJjanowMXo5cTMwN2M0M21xbGgzN3c2eXk4In0.o3sB4fUIa4Zqbn2Jf17D_Q';
            const attribution = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>';
            const accessToken = 'pk.eyJ1IjoiYWpheXRlY2h3b3Jrc2hvcCIsImEiOiJjanowMXo5cTMwN2M0M21xbGgzN3c2eXk4In0.o3sB4fUIa4Zqbn2Jf17D_Q';

            L.tileLayer(`${tilesurl}`, { attribution: `${attribution}`, maxZoom: 18, id: 'mapbox.streets', accessToken: `${accessToken}` }).addTo(mymap);
            console.log("Map  Loaded");
        }

        //Load My Location    
        function loadMyLocation()
        {
            navigator.geolocation.getCurrentPosition((position) => 
            {
                let currentLatitude = position.coords.latitude;
                let currentLongitude = position.coords.longitude;
                var circle = L.circle([currentLatitude,currentLongitude], {
                    color: 'red',
                    fillColor: '#f03',
                    fillOpacity: 0.5,
                    radius: 5000
                }).addTo(mymap);
                mymap.setView([currentLatitude,currentLongitude],10);
                L.marker([currentLatitude,currentLongitude]).addTo(mymap);    
            });
        }

        function populateSavedLocationInMap() {
            console.log("Fetching All Locations");
            fetch('/location/all').then((response) => response.json()).then((data) => {
                console.log(data);
                for (i in data) {
                    L.marker([data[i].latitude, data[i].longitude],
                    {
                        markerId: data[i]._id,
                        name: data[i].name
                    }).addTo(mymap).on('click',(e)=>
                    {
                        fetch(`/location/${e.sourceTarget.options.markerId}`).then((response) => response.json()).then((data) => {
                            e.sourceTarget.bindTooltip(e.sourceTarget.options.name).openTooltip();
                        });
                        console.log(e.sourceTarget.options.markerId);
                    });
                }
            });
        }
       
        //Save the location on click on the map
        mymap.on('click', function (e) {
            //let popup = L.popup().setLatLng([e.latlng.lat, e.latlng.lng]).setContent('<p>Hello world!<br />This is a nice popup.</p>').openOn(mymap);
            //marker.bindPopup(popup);
            
            const data = {
                latitude: e.latlng.lat,
                longitude: e.latlng.lng,
                name: 'Test'
            };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            };
            fetch('/location', options)
                .then((response) => {
                    if(response.status == 201){
                        populateSavedLocationInMap();
                    }
                });
        });

    </script>
</body>

</html>